body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;

     
}
h1{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    text-align: center; 
    font-size: 1.5em;
}
.maindiv{
    background-color: white;
    color: black;
    width: 400px;
    padding: 20px;
    border-radius: 25px; 

}
#principal{
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#rate{
    margin-left: 20%;
    Margin-top: 10px;
    margin-bottom: 10px;
}
#years{
   margin-left: 8%;